
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

section.homeSlider {
    width: 1200px;
    margin: auto;
    height: 650px;
    background-color: #ffffff;
}

.homeSliderProductContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.homeSliderContainer {
    display: grid;
    grid-template-columns: repeat(2,1fr );
}

.homeSliderImage {
    justify-content: center;
    display: flex;
    align-items: center;
}

.secendImage {
    position: absolute;
    width: 430px;
}

.firstImage {
    position: relative;
    width: 450px;
    align-content: stretch;
    justify-content: space-around;
}

.secendImage img {
    width: 100%;
}

.firstImage img {
    width: 100%;
}

h1.productTitle {
    margin-top: 80px;
    font-size: 24px;
    color: #3a3a3a;
    margin-bottom: 60px;
}

.homeSliderTitle h2 {
    font-size: 48px;
    font-weight: 700;
    color: #3a3a3a;
    margin-bottom: 0px;
}

.homeSliderTitle p {
    font-weight: 600;
    font-size: 15px;
    color: #3a3a3a;
    /* width: 475px; */
    margin-bottom: 40px;
}

a#preebookBtn {
    text-decoration: none;
    background-color: #e02c6d;
    color: #fff;
    padding: 12px 32px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
}

i.fas.fa-arrow-right {
    font-size: 15px;
    margin-left: 5px;
}

header {
    width: 1200px;
    margin: auto;
}

.homeSliderTitle {
    margin-top: 30px;
}

section.mediaLogoSection {
    width: 1200px;
    margin: auto;
    height: 200px;
}

.mediaLogoContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-top: 1px solid #ddddddba;
    border-bottom: 1px solid #ddddddb8;
    padding: 24px 0px;
}

.mediaLogo {
    display: flex;
    grid-column-gap: 95px;
    align-items: center;
}

h1.popularCollectionTitle {
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
    color: #3a3a3a;
    margin-bottom: 50px;
    font-weight: 600;
}

section.popularCollection {
    width: 1200px;
    margin: auto;
}

.popularCollectionContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.singlePopularCollectionBox {border: 1px solid #dddddda8;padding: 16px;border-radius: 5px;box-shadow: 0px 0px 26px 6px #ddddddb5;}

.popularCollectionImage {
    width: 354px;
}

.popularCollectionImage img {
    width: 100%;
    border-radius: 5px;
}

.popularCollectionInfo h2 {
    font-size: 30px;
    font-weight: 600;
    color: #3a3a3a;
    text-transform: capitalize;
    margin-top: 8px;
}

.popularCollectionInfo h3 {font-size: 28px;font-weight: 400;margin-top: -18px;margin-bottom: 12px;}

.popularCollectionIcon i {color: #fb8200;font-size: 12px;}

.popularCollectionIcon span {
    margin-left: 8px;
    color: #7e8285;
    font-weight: 600;
}

.popularCollectionInfo p {
    color: #787885;
    font-weight: 600;
    line-height: 8px;
}

.secendImage:hover {
    transform: scale(1.3);
    transition: 0.8s;
    cursor: pointer;
}

a#seeMoreBtn {
    display: flex;
    padding: 50px 0px;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    color: #e02c6d;
    font-weight: 700;
    font-size: 18px;
}

a#seeMoreBtn i {font-size: 20px;margin-left: 8px;}

section.productInformation {
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}

.productInformationContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.productInfoImage {
    border-radius: 5px;
    width: 490px;
}

.productInfoImage img {
    width: 100%;
    border-radius: 20px;
}

.productInfoImage:hover {
    transform: scale(1.1);
    transition: 0.6s;
    cursor: pointer;
}

.productInfo h1 {
    text-transform: capitalize;
    font-size: 40px;
    margin-bottom: 0px;
    font-weight: 600;
    color: #3a3a3a;
}

.productInfo p {
    font-size: 16px;
    color: #3a3a3a;
    font-weight: 600;
    margin-bottom: 30px;
}

a#joinBtn {
    text-decoration: none;
    background: #e02c6d;
    color: #ffffff;
    padding: 12px 30px;
    font-weight: 600;
    border-radius: 50px;
}

footer.footerBar {
    background-color: #0a0826;
    color: #ffffff;
    margin-top: 80px;
}

.footerBarContainer {
    text-align: center;
    padding: 50px 0px;
}

.footerBarContainer h2 {
    margin: 0px;
    font-size: 28px;
    font-weight: 600;
}

.footerBarContainer p {
    color: #d9dbe1;
    font-weight: 500;
    margin: 6px;
}

.footerBarIcon {
    margin-top: 20px;
    font-size: 20px;
}

.footerBarIcon i {
    width: 46px;
    height: 32px;
    justify-content: space-evenly;
    border-radius: 100px;
    background-color: #22203b;
    padding-top: 12px;
    margin-right: 8px;
}

.footerBarIcon i:hover {
    background-color: #e02c6d;
    cursor: pointer;
    transition: 0.3s;
}

/* --------------------
    Media Queries 
---------------------*/
/* Mobile Devices */
    @media only screen and (max-width:688px) {

        section.homeSlider{
            width: 100%;
            height: 100%;
        }

        .homeSliderContainer{
            grid-template-columns: repeat(1, 1fr);
        }

        .secendImage{
            width: 300px;
        }

        .firstImage{
            width: 300px;
        }

        .homeSliderTitle{
        text-align: center;
        position: relative;
        top: 260px;
        }

        .homeSliderImage{
        position: relative;
        bottom: 444px;
        }

        h1.productTitle{
            text-align: center;
        }

        section.popularCollection{
            width: 100%;
        }

        .popularCollectionContainer{
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
        }

        .singlePopularCollectionBox{
            flex-direction: column;
        }

        section.productInformation{
            width: 100%;
        }

        .productInformationContainer{
            grid-template-columns: repeat(1, 1fr);
            width: 350px;
            align-items: center;
            margin: auto;
        }
        
        .productInfoImage{
            width: 100%;
        }

        .productInfo{
            text-align: center;
        }

        footer.footerBar{
           width: 100%;
       }
        
    }

    